@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

/* Box sizing rules and reset*/
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-family: "Poppins", sans-serif;
	/* resetting font size to 10px makes rem math much easier*/
	font-size: 10px;
	box-sizing: border-box;
}
/* Set secting heading font */
/* h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
} */
/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
P,
li {
	font-size: 1.6rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ########## END GLOBAL ########## */

/* ##########  ########## */

main {
	height: 100vh;
	width: 100vw;
	/* background-image: linear-gradient(
		to right,
		rgb(184, 202, 244),
		rgb(242, 250, 245)
	); */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: url(./images/blue-background.jpg) center/cover;
}

.card {
	width: 95%;
	max-width: 375px;
	height: 70%;
	max-height: 700px;
	background: linear-gradient(
		to left bottom,
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0.1)
	);
	border-radius: 40px;
	border: 1px solid rgba(255, 255, 255, 0.438);
	backdrop-filter: blur(1.5rem);
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: space-between;
}

/* Use a media query to change the height to 70% */
.wrapper {
	height: 90%;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	filter: grayscale();
	transition: all 0.4s ease;
}

img:hover {
	filter: none;
	transform: scale(1.2) rotatey(1turn);
}

h1 {
	font-size: 5rem;
}

h1 + p {
	font-size: 2rem;
}

.buttons {
	/* background: navajowhite; */
	width: 250px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button {
	width: 100px;
	height: 40px;
	border-radius: 40px;
	background: linear-gradient(to right, rgb(129, 99, 246), rgb(150, 120, 246));
	color: white;
	font-weight: 500;
	font-size: 1.5rem;
	cursor: pointer;
}
button:active {
	transform: scale(0.8);
}

.likes {
	width: 80%;
	max-width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: darkkhaki; */
	padding: 1rem;
}

.likes p {
	font-size: 2rem;
	margin-right: 2rem;
}
.likes i:nth-of-type(1) {
	font-size: 2rem;
	color: rgba(247, 101, 82, 0.7);
	margin-right: auto;
}

/* ******** */
@media screen and (min-width: 700px) {
	.card {
		height: 50%;
		max-height: 500px;
	}
	.fas,
	.fab {
		font-size: 7rem;
		margin-right: 2rem;
	}
}
